body {
  color: #fff;
  background-color: #aaa;
  text-align: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  border: 1px solid #fff;
  box-sizing: border-box;
  flex-grow: 1;
  margin: 20px;
  max-width: 20%;
  min-width: 200px;
  padding: 10px;
  text-align: center;
}

.item h3 {
  margin-top: 0;
}

a, a:hover, a:active {
  color: #666;
  text-decoration: none;
}

a:visited {
  color: #333;
}
a:hover {
  text-decoration: underline;
}

.warning {
  font-size: 12px;
  font-style: italic;
}
