---
---
<!DOCTYPE html>
<html>
<head>
  <meta property="og:site_name" content="Digital artwork gallery"/>
  <meta property="og:title" content="{{page.title}} by Travis Briggs"/>
  <meta property="og:description" content="A gallery of 2D and 3D browser animations and artwork made by Travis Briggs, some of which feature original music also composed by him. Uses HTML5 features and various JS frameworks."/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="/img/cube-box.png"/>

  <title>Digital artwork gallery - Travis Briggs</title>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  {% include analytics.html %}
</head>
<body>
  <h1>2D and 3D artwork by Travis Briggs</h1>
  <h2>3D</h2>
  <section class="container">
    {% for three_d in site.3d | sort: 'date' %}
      <div class="item">
        <h3><a href="{{three_d.relative_path}}">{{three_d.title}}</a></h3>
        {% if three_d.show_date %}
          <span class="date">{{three_d.date | date: '%B %d, %Y'}}</span>
        {% endif %}
      </div>
    {% endfor %}
  </section>

  <h2>2D</h2>
  <section class="container">
    {% for two_d in site.2d | sort: 'date' %}
      <div class="item">
        <h3><a href="{{two_d.relative_path}}">{{two_d.title}}</a></h3>
        {% if two_d.show_date %}
          <span class="date">{{two_d.date | date: '%B %d, %Y'}}</span>
        {% endif %}
      </div>
    {% endfor %}
  </section>
</body>
</html>
