<!DOCTYPE html>
<html>
<head>
  <meta property="og:site_name" content="Digital artwork gallery"/>
  <meta property="og:title" content="{{page.title}} by Travis Briggs"/>
  <meta property="og:description" content="A 2D browser animation made by Travis Briggs{% if page.music %} featuring original music also composed by him{% endif %}. The animation uses HTML5 Canvas and the Processing.js javascript framework."/>
  <meta property="og:type" content="website"/>
  {% if page.image %}
    <meta property="og:image" content="{{page.image}}.png"/>
  {% endif %}

  <title>'{{page.title}}' - Travis Briggs</title>
  <script src="/js/capture.js"></script>

  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <link rel="stylesheet" type="text/css" href="/css/controls.css">
  <link rel="stylesheet" type="text/css" href="/css/2d.css">
  {% include analytics.html %}
</head>
<body>
  <div id="container">
    {{page.content}}
    <canvas></canvas>
  </div>
  {% if page.music %}
    <audio id="player" autoplay loop>
      <source src="{{page.music}}.mp3" type="audio/mp3">
      <source src="{{page.music}}.ogg" type="audio/ogg">
    </audio>
  {% endif %}
  <div id="info" class="hid">
    {{page.title}} is a digital creation made by  <a href="http://travisbriggs.com">Travis Briggs</a> entirely in <a href="http://processing.org/">Processing</a>. It appears here courtesy of the excellent <a href="http://processingjs.org/">Processing.js</a> library. If you are interested in the code for this artwork, simply view the source of this page. The source code is availble under the MIT license and can also be found on  <a href="https://github.com/audiodude/threejs-gallery">Github</a>. See more 2D and 3D digital artwork at <a href="http://gallery.travisbriggs.com">gallery.travisbriggs.com</a>.
   </div>
   <div id="icons">
     <i id="info-icon" class="fa fa-info-circle fa-2x"></i>
     <div id="speaker" class="playing"></div>
   </div>
  <script src="/js/processing.min.js"></script>
  <script src="/js/controls.js"></script>
</body>
</html>
