<!DOCTYPE html>
<html>
<head>
  <meta property="og:site_name" content="Threejs gallery"/>
  <meta property="og:title" content="Cube Box by Travis Briggs"/>
  <meta property="og:description" content="A 3D browser animation made by Travis Briggs featuring original music also composed by him. The animation uses WebGL and the Threejs javascript framework."/>
  <meta property="og:type" content="website"/>
  {% if page.image %}
    <meta property="og:image" content="/img/cube_box.png"/>
  {% endif %}

	<title>{{page.title}} - Travis Briggs</title>
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/controls.css">
  <link rel="stylesheet" href="/css/3d.css">
  {% include analytics.html %}
</head>
<body>
  {% if page.music %}
    <audio id="player" autoplay loop>
      <source src="{{page.music}}.mp3" type="audio/mp3">
      <source src="{{page.music}}.ogg" type="audio/ogg">
    </audio>
  {% endif %}
  <div id="info" class="hid">
    Cube Box is a 3D animation/art project created by
    <a href="http://travisbriggs.com">Travis Briggs</a> using the
    <a href="http://threejs.org/">three.js</a> framework.

    {% if page.soundcloud_link %}
      The music on this page, <a href="{{page.soundcloud_link}}">also called
      {{page.title}}</a>, was also created by him.
    {% endif %}

    The source code for
    this project is available under the MIT license and can be found at
    <a href="https://github.com/audiodude/threejs-gallery">Github</a>. See more
    3D and 2D creations at
    <a href="http://gallery.travisbriggs.com">gallery.travisbriggs.com</a>.
  </div>
  <div id="icons">
    <i id="info-icon" class="fa fa-info-circle fa-2x"></i>
    <div id="speaker" class="playing"></div>
  </div>
	<script src="/js/three.min.js"></script>
  <script src="/js/controls.js"></script>
  {{page.content}}
</body>
</html>
